In [1]:
import pandas as pd 

# 'skus' table
skus = pd.read_csv('./jddata/JD_sku_data.csv')
# 'users' table
users = pd.read_csv('./jddata/JD_user_data.csv')
# 'clicks' table
clicks = pd.read_csv('./jddata/JD_click_data.csv')
# 'orders' table
orders = pd.read_csv('./jddata/JD_order_data.csv')
# 'delivery' table
delivery = pd.read_csv('./jddata/JD_delivery_data.csv')
# 'inventory' table
inventory = pd.read_csv('./jddata/JD_inventory_data.csv')
# 'network' table
network = pd.read_csv('./jddata/JD_network_data.csv')

In [11]:
network["dc_ori_region_id"] = network["region_ID"]
network["dc_ori"] = network["dc_ID"]
network["dc_des_region_id"] = network["region_ID"]
network["dc_des"] = network["dc_ID"] 

tmp = pd.merge(orders, users, on='user_ID', how='inner')[["order_ID", "quantity", "dc_ori", "dc_des", "user_ID", "education", "purchase_power", "city_level"]] 
tmp = pd.merge(tmp, network[["dc_ori_region_id", "dc_ori"]], on="dc_ori", how="inner") 
tmp = pd.merge(tmp, network[["dc_des_region_id", "dc_des"]], on="dc_des", how="inner")
tmp

,order_ID,quantity,dc_ori,dc_des,user_ID,education,purchase_power,city_level,dc_ori_region_id,dc_des_region_id
0,d0cf5cc6db,1,4,28,0abe9ef2ce,3,2,2,4,4
1,7444318d01,1,28,28,33a9e56257,2,3,2,4,4
2,f973b01694,1,28,28,4ea3cf408f,2,2,2,4,4
3,8c1cec8d4b,1,4,28,b87cb736cb,3,2,2,4,4
4,72153dfa1a,1,4,28,e9a0dab3c8,-1,-1,-1,4,4
...,...,...,...,...,...,...,...,...,...,...
503702,3ad06b9fbe,1,2,2,a27b3ed4d4,3,2,2,2,2
503703,c9d77a7ed0,1,59,2,18f92434cd,3,2,2,7,2
503704,b9ad79338f,1,2,2,b5caf8a580,2,3,2,2,2
503705,be3a9414b1,1,4,28,20ba6655f3,2,4,2,4,4
503706,02d31f05c9,1,4,28,f260895cbe,2,3,2,4,4

In [48]:
# 9dc, 6dc, 8dc, 6dc, 9dc, 8dc, 5dc, 5dc
region_ids = [2, 3, 4, 5, 7, 9, 10, 24]
for region_id in region_ids:
    region = tmp[ (tmp["dc_des_region_id"] == region_id) & (tmp["city_level"] != -1) ]
    print(region["city_level"].mean())

2.168988056110236
2.7329043740160177
2.6132008780741898
1.6266775467381642
2.8191675619752496
2.081714830275291
2.559266961268521
2.7612400290065264

In [75]:
# region_id = 5
# 上海，昆山，南京，杭州，温州，义乌
dc_ids = [5, 13, 55, 54, 26, 65]
for dc_id in dc_ids:
    print("===============================")
    print(tmp[ (tmp["dc_des"] == dc_id) & (tmp["city_level"] != -1) ]["city_level"].mean())

===============================
1.101534733441034
===============================
3.662262592898431
===============================
2.9516878290492414
===============================
2.033066132264529
===============================
3.0827874674453475
===============================
nan

In [73]:
for dc_id in network["region_ID"].unique():
    print("===============================")
    print(tmp[ (tmp["dc_des"] == dc_id) & (tmp["city_level"] != -1) ]["city_level"].mean())

===============================
1.5671460293962145
===============================
3.6066238594119633
===============================
2.619867758186398
===============================
1.101534733441034
===============================
2.435689816256618
===============================
1.822642514651039
===============================
2.670551902769476
===============================
2.521691498685364

In [78]:
# region_id = 5
# 上海，昆山，南京，杭州，温州，义乌
dc_ids = [5, 13, 55, 54, 26, 65]
for dc_ori in dc_ids:
    for dc_des in dc_ids:
        qua = tmp[ (tmp["dc_ori"] == dc_ori) & (tmp["dc_des"] == dc_des) ]["quantity"].sum()
        print(f"origin {dc_ori}, des {dc_des}: {qua}")

origin 5, des 5: 66215
origin 5, des 13: 1650
origin 5, des 55: 3514
origin 5, des 54: 1944
origin 5, des 26: 12797
origin 5, des 65: 0
origin 13, des 5: 0
origin 13, des 13: 204
origin 13, des 55: 0
origin 13, des 54: 3
origin 13, des 26: 22
origin 13, des 65: 0
origin 55, des 5: 0
origin 55, des 13: 5
origin 55, des 55: 1055
origin 55, des 54: 7
origin 55, des 26: 59
origin 55, des 65: 0
origin 54, des 5: 0
origin 54, des 13: 1
origin 54, des 55: 1
origin 54, des 54: 389
origin 54, des 26: 26
origin 54, des 65: 0
origin 26, des 5: 0
origin 26, des 13: 11
origin 26, des 55: 26
origin 26, des 54: 172
origin 26, des 26: 3207
origin 26, des 65: 0
origin 65, des 5: 696
origin 65, des 13: 5
origin 65, des 55: 35
origin 65, des 54: 14
origin 65, des 26: 85
origin 65, des 65: 0